.flex-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#nav {
  border: 2px solid #333;
  margin: .5%;
  flex-wrap: wrap;
}
#nav > div {
  width: 10vw;
  height: 5vh;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: center;
  border: none;
}

#nav h3, i {
  margin: 2% 2% 2% 5%;
  padding: 0;
  float: left;
}
i {
  margin-top: 3%;
}
input {
  margin-left: 2%;
  margin-top: 3.5%;
  width: 15vw;
  height: 2vh;
}
.flex-container > div {
  height: 20vh;
  width: 12vw;
  background-color: #f1f1f1;
  margin: .5%;
  padding: .5%;
  font-size: 30px;
  border: 2px solid #333;
  align-content: space-around;
}
#middle {
  flex-grow: 1;
}
/* flex-grow needs to be placed on the child divs */
.section-2 > div {
  flex-grow: 1;
}
/* justify-content needs to be placed on the parent*/
.section-3 {
  justify-content: flex-end;
}
.section-4 > div {
  flex-grow: 1;
}
